@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
	@apply font-majorMonoDisplay;
}

h1 {
	@apply text-2xl font-bold mb-5;
}

h2 {
	@apply text-xl font-bold mb-3;
}

h3 {
	@apply text-lg font-bold mb-1;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

input:not(input[type="checkbox"]) {
	@apply input-ghost;
}

.input-ghost {
	@apply bg-base-300 border-2;
}

.input-ghost:focus {
	--tw-bg-opacity: 0.1;
	color: inherit;
	box-shadow: none;
}

.menu {
	@apply bg-base-300;
}

.chart-container {
	@apply w-full flex justify-center h-48 sm:h-72 md:h-96;
	max-width: calc(100vw - 8rem);
}
