@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
	@apply text-6xl mb-6 font-bold;
}
h2 {
	@apply text-5xl mb-5 font-bold;
}
h3 {
	@apply text-4xl mb-4 font-bold;
}
h4 {
	@apply text-3xl mb-3 font-bold;
}
h5 {
	@apply text-2xl mb-2 font-bold;
}
h6 {
	@apply text-xl mb-1 font-bold;
}

button,
button[type="button"],
button[type="reset"],
button[type="submit"] {
	@apply btn bg-gray-500;
}

input:not(input[type="checkbox"]) {
	@apply input input-ghost;
}

.input-ghost:focus {
	--tw-bg-opacity: 0.1;
	color: inherit;
	box-shadow: none;
}

input[type="checkbox"] {
	@apply checkbox;
}
