@tailwind base;
@tailwind components;
@tailwind utilities;

button,
button[type="button"],
button[type="reset"],
button[type="submit"] {
	@apply btn bg-gray-500;
}

input:not(input[type="checkbox"]) {
	@apply input input-ghost;
}

.input-ghost:focus {
	--tw-bg-opacity: 0.1;
	color: inherit;
	box-shadow: none;
}

input[type="checkbox"] {
	@apply checkbox;
}
